[submodule "gson"]
	path = gson
	url = https://github.com/google/gson.git
[submodule "python-lhdiff-project/bonus/gson"]
	path = python-lhdiff-project/bonus/gson
	url = https://github.com/google/gson.git
